<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-xl">
    <a class="navbar-brand" href="/">Anichu</a>
    <form>
      <input class="form-control" type="text" placeholder="Search" aria-label="Search">
    </form>
    <div class="navbar-nav">
      {{#nickName}}
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownNavbar" data-bs-toggle="dropdown" aria-expanded="false">{{nickName}}</a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownNavbar">
            <li><a class="dropdown-item" href="#">내 정보</a></li>
            <li><a class="dropdown-item" href="javascript:void(0);" onclick="fn_logout()">로그아웃</a></li>
          </ul>
        </div>
      {{/nickName}}
      {{^nickName}}
        <a href="/login" class="nav-link">로그인</a>
        <a href="/join" class="nav-link">회원 가입</a>
      {{/nickName}}
    </div>
  </div>
</nav>
{{#nickName}}
<form id="logoutForm" action="/logout" method="post">
  <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}">
</form>
{{/nickName}}