<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-xl">
    <a class="navbar-brand" href="#!">Anichu</a>
    <form>
      <input class="form-control" type="text" placeholder="Search" aria-label="Search">
    </form>
    <div class="navbar-nav">
      <a class="nav-link">로그인</a>
      <a href="/join" class="nav-link">회원 가입</a>
    </div>
  </div>
</nav>