<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.anichu.anichu.repository.mapper.AnimeTagMapper">

    <select id="selectAllAnimeByTag">
        select a.seq
        from anime a
        where a.seq in (
            select at.anime_seq
            from anime_tag at
            join tag t
              on at.tag_seq = t.seq
             and t.name in
            <foreach collection="array" item="tagName" open="(" separator="," close=")">
                #{tagName}
            </foreach>
        )
    </select>

</mapper>