{{>layout/header}}
{{>layout/navbar}}
<h1>애니메이션 상세 페이지</h1>

<h2>{{anime.name}}</h2>

<h3>{{score.score}}/10</h3>
<p>평가수: {{score.cnt}}</p>

<p>{{anime.summary}}</p>
<p>총 {{anime.episodes}}화</p>
<p>방영일: {{anime.firstBroadcastDate}}</p>
<p>제작사: <a href="/company/{{anime.companySeq}}">{{anime.companyName}}</a></p>

{{#commentList}}
  <p>{{content}} ({{score}})</p>
{{/commentList}}
{{>layout/footer}}