<!DOCTYPE html>
<html lang="ko">
<head>
  <title>애니추</title>
  {{>common/header}}
  <style>
    img {
      max-height: 300px;
      max-width: 400px;
    }
  </style>
</head>
<body>
{{!S: navbar}}
{{>common/navbar}}
{{!E: navbar}}
<div class="container">
  <div class="my-4 row align-items-center">
    <div class="col text-center">
      <img class="img-fluid" src="/images/달이_이끄는_이세계_여행.png" alt="달이_이끄는_이세계_여행.png">
    </div>
    <div class="col">
      <table>
        <colgroup>
          <col style="min-width: 110px">
        </colgroup>
        <tr>
          <th>제목</th>
          <td>달이 이끄는 이세계 여행</td>
        </tr>
        <tr>
          <th>장르</th>
          <td>
            <span>판타지</span>
            <span>액션</span>
          </td>
        </tr>
        <tr>
          <th>방영 분기</th>
          <td>2023년 4분기</td>
        </tr>
      </table>
    </div>
  </div>
</div>
{{>common/footer-script}}
</body>
</html>