<!DOCTYPE html>
<html lang="ko">
<head>
  <title>애니추</title>
  {{>common/header}}
  <style>
    img {
      max-height: 300px;
      max-width: 400px;
    }
  </style>
</head>
<body>
{{!S: navbar}}
{{>common/navbar}}
{{!E: navbar}}
<div class="container">
  <div class="my-4 row align-items-center">
    <div class="col text-center">
      <img class="img-fluid" src="{{animeVO.fileVO.filePath}}{{animeVO.fileVO.fileName}}" alt="{{animeVO.fileVO.originName}}">
    </div>
    <div class="col">
      <table>
        <colgroup>
          <col style="min-width: 110px">
        </colgroup>
        <tr>
          <th>제목</th>
          <td>{{animeVO.titleKor}}</td>
        </tr>
        {{#animeVO.tags}}
          <tr>
            <th>장르</th>
            <td>{{animeVO.tags}}</td>
          </tr>
        {{/animeVO.tags}}
        {{#animeVO.broadCastDate}}
          <tr>
            <th>첫 방영일</th>
            <td>{{animeVO.broadCastDate}}</td>
          </tr>
        {{/animeVO.broadCastDate}}
        {{#animeVO.quarter}}
          <tr>
            <th>방영 분기</th>
            <td>{{animeVO.quarter}}</td>
          </tr>
        {{/animeVO.quarter}}
        {{#animeVO.totalEpisodes}}
          <tr>
            <th>총 회차수</th>
            <td>{{animeVO.totalEpisodes}}</td>
          </tr>
        {{/animeVO.totalEpisodes}}
      </table>
    </div>
  </div>
  <div class="p-4" style="border: 1px solid lightgray">
    <div class="row d-flex justify-content-end mb-4">
      <label for="content" class="form-label col">평가</label>
      <input class="form-control col-12 mb-2" type="text" name="content" id="content" placeholder="평가를 작성해주세요.">
      <a href="javascript:void(0);" class="btn btn-sm btn-primary col-1 mb-4" id="summitBtn">저장</a>
    </div>
    <div>
      <div class="row mb-4">
        <div class="col-lg-1 align-items-center">이미지</div>
        <div class="col-lg-8 row">
          <p class="col-12">닉네임</p>
          <p class="col-12">내용</p>
        </div>
        <div class="col-lg-3 row align-items-center">
          <p class="col-12">점수: 8</p>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-lg-1 align-items-center">이미지</div>
        <div class="col-lg-8 row">
          <p class="col-12">닉네임</p>
          <p class="col-12">내용</p>
        </div>
        <div class="col-lg-3 row align-items-center">
          <p class="col-12">점수: 8</p>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-lg-1 align-items-center">이미지</div>
        <div class="col-lg-8 row">
          <p class="col-12">닉네임</p>
          <p class="col-12">내용</p>
        </div>
        <div class="col-lg-3 row align-items-center">
          <p class="col-12">점수: 8</p>
        </div>
      </div>
    </div>
  </div>
</div>
{{>common/footer-script}}
</body>
</html>