<!DOCTYPE html>
<html lang="ko">
<head>
  <title>애니추</title>
  {{>common/header}}
  <style>
    img {
      max-height: 300px;
      max-width: 400px;
    }
  </style>
</head>
<body>
{{!S: navbar}}
{{>common/navbar}}
{{!E: navbar}}
<div class="container">
  <div class="my-4 row align-items-center">
    <div class="col text-center">
      <img class="img-fluid" src="{{animeVO.fileVO.filePath}}{{animeVO.fileVO.fileName}}" alt="{{animeVO.fileVO.originName}}">
    </div>
    <div class="col">
      <table>
        <colgroup>
          <col style="min-width: 110px">
        </colgroup>
        <tr>
          <th>제목</th>
          <td>{{animeVO.title}}</td>
        </tr>
        {{#animeVO.tags}}
          <tr>
            <th>장르</th>
            <td>{{animeVO.tags}}</td>
          </tr>
        {{/animeVO.tags}}
        {{#animeVO.broadCastDate}}
          <tr>
            <th>첫 방영일</th>
            <td>{{animeVO.broadCastDate}}</td>
          </tr>
        {{/animeVO.broadCastDate}}
        {{#animeVO.quarter}}
          <tr>
            <th>방영 분기</th>
            <td>{{animeVO.quarter}}</td>
          </tr>
        {{/animeVO.quarter}}
        {{#animeVO.totalEpisodes}}
          <tr>
            <th>총 회차수</th>
            <td>{{animeVO.totalEpisodes}}</td>
          </tr>
        {{/animeVO.totalEpisodes}}
      </table>
    </div>
  </div>
</div>
{{>common/footer-script}}
</body>
</html>