{{>layout/header}}
{{>layout/navbar}}

<div class="container">
  <form class="my-2" name="searchForm" id="searchForm">
    <input type="hidden" name="sTag" id="sTag" value="">
    <input type="hidden" name="sCompany" id="sCompany" value="">
    <input type="hidden" name="sSort" id="sSort" value="">
    <input type="hidden" name="sKeyword" id="sKeyword" value="">
    <input type="hidden" name="page" id="page" value="">

    <table class="table align-middle" style="width: 100%; height: 100%">
      <colgroup>
        <col style="width: 15%">
        <col style="width: 85%">
      </colgroup>
      <tr class="mb-4">
        <th class="form-label">카테고리</th>
        <td>
          <span class="btn btn-dark btn-sm tagBtn tagAll mb-2">전체</span>
          {{#tags}}
            <span class="btn btn-outline-dark btn-sm tagBtn mb-2">{{tagName}}</span>
          {{/tags}}
        </td>
      </tr>
      <tr class="mb-4">
        <th>제작사</th>
        <td>
          <label>
            <input class="form-control" type="text" list="list" id="company" name="company"/>
          </label>
          <datalist id ="list">
            {{#companies}}
              <option value="{{companyName}}"></option>
            {{/companies}}
          </datalist>
        </td>
      </tr>
      <tr class="mb-4">
        <th>정렬 기준</th>
        <td>
          <div class="row">
            <div class="col">
              <label>
                <input type="radio" name="sortCriteria" value="create_at_desc" checked>
                최신순
              </label>
            </div>
            <div class="col">
              <label>
                <input type="radio" name="sortCriteria" value="create_at_asc">
                과거순
              </label>
            </div>
            <div class="col">
              <label>
                <input type="radio" name="sortCriteria" value="score">
                점수순
              </label>
            </div>
          </div>
        </td>
      </tr>
      <tr class="mb-4">
        <th>키워드 검색</th>
        <td>
          <div class="row d-flex justify-content-between align-items-center">
            <div class="col">
              <label>
                <input class="form-control" type="text" name="searchKeyword" id="searchKeyword">
              </label>
            </div>
            <div class="col-2">
              <span class="btn btn-primary searchBtn">검색</span>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </form>
  <main class="my-2">
    <div class="row anime-list">
      <a class="col-md-2 mb-3" href="#!" style="max-width: 16%; height: auto">
        <img  src="/static/images/no_image.jpg" alt="title" style="width: 100%; height: auto"/>
      </a>
      <img class="col-md-2 mb-3" src="/static/images/no_image.jpg" style="max-width: 16%; height: auto" alt="title"/>
      <img class="col-md-2 mb-3" src="/static/images/no_image.jpg" style="max-width: 16%; height: auto" alt="title"/>
      <img class="col-md-2 mb-3" src="/static/images/no_image.jpg" style="max-width: 16%; height: auto" alt="title"/>
      <img class="col-md-2 mb-3" src="/static/images/no_image.jpg" style="max-width: 16%; height: auto" alt="title"/>
      <img class="col-md-2 mb-3" src="/static/images/no_image.jpg" style="max-width: 16%; height: auto" alt="title"/>
      <img class="col-md-2 mb-3" src="/static/images/no_image.jpg" style="max-width: 16%; height: auto" alt="title"/>
      <img class="col-md-2 mb-3" src="/static/images/no_image.jpg" style="max-width: 16%; height: auto" alt="title"/>
      <img class="col-md-2 mb-3" src="/static/images/no_image.jpg" style="max-width: 16%; height: auto" alt="title"/>
      <img class="col-md-2 mb-3" src="/static/images/no_image.jpg" style="max-width: 16%; height: auto" alt="title"/>
      <img class="col-md-2 mb-3" src="/static/images/no_image.jpg" style="max-width: 16%; height: auto" alt="title"/>
      <img class="col-md-2 mb-3" src="/static/images/no_image.jpg" style="max-width: 16%; height: auto" alt="title"/>
      <img class="col-md-2 mb-3" src="/static/images/no_image.jpg" style="max-width: 16%; height: auto" alt="title"/>
      <img class="col-md-2 mb-3" src="/static/images/no_image.jpg" style="max-width: 16%; height: auto" alt="title"/>
      <img class="col-md-2 mb-3" src="/static/images/no_image.jpg" style="max-width: 16%; height: auto" alt="title"/>
      <img class="col-md-2 mb-3" src="/static/images/no_image.jpg" style="max-width: 16%; height: auto" alt="title"/>
      <img class="col-md-2 mb-3" src="/static/images/no_image.jpg" style="max-width: 16%; height: auto" alt="title"/>
    </div>

    <nav aria-label="Pagination">
      <hr class="my-0" />
      <ul class="pagination justify-content-center my-4">
        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
        <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
        <li class="page-item"><a class="page-link" href="#!">2</a></li>
        <li class="page-item"><a class="page-link" href="#!">3</a></li>
        <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
        <li class="page-item"><a class="page-link" href="#!">15</a></li>
        <li class="page-item"><a class="page-link" href="#!">Older</a></li>
      </ul>
    </nav>
  </main>
</div>

<script>
  $(".tagBtn").click(function () {
    let tagArr = [];
    const selectedTag = $(this).text();
    if (selectedTag === '전체') {
      $(".tagBtn").removeClass("btn-dark").addClass("btn-outline-dark");
      $(this).addClass("btn-dark");
    } else {
      $(".tagBtn.tagAll").removeClass("btn-dark").addClass("btn-outline-dark");
      if ($(this).hasClass("btn-dark")) {
        $(this).removeClass("btn-dark").addClass("btn-outline-dark");
      } else {
        $(this).removeClass("btn-outline-dark").addClass("btn-dark");
      }
    }

    $(".tagBtn.btn-dark").each(function (i, e) {
      if ($(e).text() === "전체") {
        return true;
      } else {
        tagArr.push($(e).text());
      }
    });

    if (tagArr.length === 0) {
      $(".tagBtn.tagAll").removeClass("btn-outline-dark").addClass("btn-dark");
      $("#sTag").val("");
    } else {
      $("#sTag").val(tagArr.join(","));
    }
  });

  $("#company").on("input", function() {
    $("#sCompany").val($(this).val());
  });

  $("#searchKeyword").on("input", function() {
    $("#sKeyword").val($(this).val());
  });

  $("input[type='radio']").click(function () {
    $("#sSort").val($(this).val());
  });

  /** @Param btn {Object}*/
  function changeBtnClass(btn) {
    if (btn.hasClass("btn-outline-dark")) {
      btn.removeClass("btn-outline-dark");
      btn.addClass("btn-dark");
    } else {
      btn.removeClass("btn-dark");
      btn.addClass("btn-outline-dark");
    }
  }

  $(".searchBtn").click(function () {
    const JsonData = $("#searchForm").serialize();
    console.log(JsonData);
    $.ajax({
      url: "/anime/search",
      type: "POST",
      contentType: 'application/x-www-form-urlencoded; charset=utf-8',
      data: JsonData,
      dataType: "json",
      success: function (json) {
          console.log(json)
      },
      error: function(xhr, status, error) {
        alert(error);
      }
    });
  });
</script>
{{>layout/footer}}