<!DOCTYPE html>
<html lang="ko">
<head>
  <title>애니추</title>
  {{>common/header}}
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
</head>
<body>
{{!S: navbar}}
{{>common/navbar}}
{{!E: navbar}}
{{!S: Logo Header}}
<header class="py-5 bg-light border-bottom mb-4">
  <div class="container">
    <div class="text-center my-5">
      <h1 class="fw-bolder">Welcome to Anichu!</h1>
      <p class="lead mb-0">애니 추천</p>
    </div>
  </div>
</header>
{{!E: Logo Header}}
<div class="container">
  <div class="list-top10">
    <h3>2024년 1분기 Top 10</h3>
    <div class="arrow-left quarter">왼쪽 화살표</div>
    <div class="arrow-right quarter">오른쪽 화살표</div>
    <div class="responsive slider quarter">
      <div class="slider-item">
        <span>이미지</span>
        <span>제목</span>
        <span>평점 / 평가 수</span>
      </div>
      <div class="slider-item">
        <span>이미지</span>
        <span>제목</span>
        <span>평점 / 평가 수</span>
      </div>
      <div class="slider-item">
        <span>이미지</span>
        <span>제목</span>
        <span>평점 / 평가 수</span>
      </div>
      <div class="slider-item">
        <span>이미지</span>
        <span>제목</span>
        <span>평점 / 평가 수</span>
      </div>
      <div class="slider-item">
        <span>이미지</span>
        <span>제목</span>
        <span>평점 / 평가 수</span>
      </div>
      <div class="slider-item">
        <span>이미지</span>
        <span>제목</span>
        <span>평점 / 평가 수</span>
      </div>
      <div class="slider-item">
        <span>이미지</span>
        <span>제목</span>
        <span>평점 / 평가 수</span>
      </div>
      <div class="slider-item">
        <span>이미지</span>
        <span>제목</span>
        <span>평점 / 평가 수</span>
      </div>
    </div>
  </div>
</div>
{{>common/footer-script}}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
  $(".responsive.slider.quarter").slick({
    infinite: true,
    slidesToShow: 5,
    slidesToScroll: 1,
    arrows: true,
    prevArrow: $(".arrow-left.quarter"),
    nextArrow: $(".arrow-right.quarter"),
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 4
        }
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 3
        }
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 2
        }
      },
    ]
  })
</script>
</body>
</html>