{{>layout/header}}
{{>layout/navbar}}

<header class="py-5 bg-light border-bottom mb-4">
  <div class="container">
    <div class="text-center my-5">
      <h1 class="fw-bolder">애니 추천은? 애니추!</h1>
      <p class="lead mb-0">다양한 애니메이션에 대한 평가과 추천을 한번에!</p>
    </div>
  </div>
</header>
<!-- 이번 분기 TOP 10 -->
<div class="container">
  <div class="mb-4 bun-gi-slider">
    <div class="row mb-4">
      <div class="col-10">
        <h1>{{Top10Quarter.quarter}} TOP 10</h1>
      </div>
      <div class="col-2 mt-auto">
        <div class="row justify-content-evenly arrows">
          <button class="col-4 slick-prev slick-arrow" style="width: auto; height: 40px;">
            <img src="/static/images/arrow_left.svg" alt="slick prev"/>
          </button>
          <button class="col-4 slick-next slick-arrow" style="width: auto; height: 40px;">
            <img src="/static/images/arrow_right.svg" alt="slick next"/>
          </button>
        </div>
      </div>
    </div>
    <div class="mask">
      {{#Top10Quarter.responseDTOList}}
        <div class="mx-2">
          <a href="/anime/{{animeSeq}}">
            <img src="/static/images/no_image.jpg" class="img-fluid img-thumbnail" alt={{animeTitle}}/>
            <p>{{animeTitle}}</p>
            <p>{{score}}/10.0 ({{evaluationCnt}})</p>
            <p>{{companyName}}</p>
          </a>
        </div>
      {{/Top10Quarter.responseDTOList}}
    </div>
  </div>
  <div class="mb-4 top10-slider">
    <div class="row mb-4">
      <div class="col-10">
        <h1>전체 TOP 10</h1>
      </div>
      <div class="col-2 mt-auto">
        <div class="row justify-content-evenly arrows">
          <button class="col-4 slick-prev slick-arrow" style="width: auto; height: 40px;">
            <img src="/static/images/arrow_left.svg" alt="slick prev"/>
          </button>
          <button class="col-4 slick-next slick-arrow" style="width: auto; height: 40px;">
            <img src="/static/images/arrow_right.svg" alt="slick next"/>
          </button>
        </div>
      </div>
    </div>
    <div class="mask">
      {{#Top10All}}
        <div class="mx-2">
          <a href="/anime/{{animeSeq}}">
            <img src="/static/images/no_image.jpg" class="img-fluid img-thumbnail" alt={{animeTitle}}/>
            <p>{{animeTitle}}</p>
            <p>{{score}}/10.0 ({{evaluationCnt}})</p>
            <p>{{companyName}}</p>
          </a>
        </div>
      {{/Top10All}}
    </div>
  </div>
  <div class="mb-4 tag-slider1">
    <div class="row mb-4">
      <div class="col-10">
        <h1>#태그명 TOP 10</h1>
      </div>
      <div class="col-2 mt-auto">
        <div class="row justify-content-evenly arrows">
          <button class="col-4 slick-prev slick-arrow" style="width: auto; height: 40px;">
            <img src="/static/images/arrow_left.svg" alt="slick prev"/>
          </button>
          <button class="col-4 slick-next slick-arrow" style="width: auto; height: 40px;">
            <img src="/static/images/arrow_right.svg" alt="slick next"/>
          </button>
        </div>
      </div>
    </div>
    <div class="mask">
      <div class="mx-2">
        <a href="#!">
          <img src="/static/images/no_image.jpg" class="img-fluid img-thumbnail" alt="애니 제목"/>
        </a>
      </div>
      <div class="mx-2">
        <a href="#!">
          <img src="/static/images/no_image.jpg" class="img-fluid img-thumbnail" alt="애니 제목"/>
        </a>
      </div>
      <div class="mx-2">
        <a href="#!">
          <img src="/static/images/no_image.jpg" class="img-fluid img-thumbnail" alt="애니 제목"/>
        </a>
      </div>
      <div class="mx-2">
        <a href="#!">
          <img src="/static/images/no_image.jpg" class="img-fluid img-thumbnail" alt="애니 제목"/>
        </a>
      </div>
      <div class="mx-2">
        <a href="#!">
          <img src="/static/images/no_image.jpg" class="img-fluid img-thumbnail" alt="애니 제목"/>
        </a>
      </div>
      <div class="mx-2">
        <a href="#!">
          <img src="/static/images/no_image.jpg" class="img-fluid img-thumbnail" alt="애니 제목"/>
        </a>
      </div>
      <div class="mx-2">
        <a href="#!">
          <img src="/static/images/no_image.jpg" class="img-fluid img-thumbnail" alt="애니 제목"/>
        </a>
      </div>
    </div>
  </div>
  <div class="mb-4 tag-slider2">
    <div class="row mb-4">
      <div class="col-10">
        <h1>#태그명 O분기 TOP 10</h1>
      </div>
      <div class="col-2 mt-auto">
        <div class="row justify-content-evenly arrows">
          <button class="col-4 slick-prev slick-arrow" style="width: auto; height: 40px;">
            <img src="/static/images/arrow_left.svg" alt="slick prev"/>
          </button>
          <button class="col-4 slick-next slick-arrow" style="width: auto; height: 40px;">
            <img src="/static/images/arrow_right.svg" alt="slick next"/>
          </button>
        </div>
      </div>
    </div>
    <div class="mask">
      <div class="mx-2">
        <a href="#!">
          <img src="/static/images/no_image.jpg" class="img-fluid img-thumbnail" alt="애니 제목"/>
        </a>
      </div>
      <div class="mx-2">
        <a href="#!">
          <img src="/static/images/no_image.jpg" class="img-fluid img-thumbnail" alt="애니 제목"/>
        </a>
      </div>
      <div class="mx-2">
        <a href="#!">
          <img src="/static/images/no_image.jpg" class="img-fluid img-thumbnail" alt="애니 제목"/>
        </a>
      </div>
      <div class="mx-2">
        <a href="#!">
          <img src="/static/images/no_image.jpg" class="img-fluid img-thumbnail" alt="애니 제목"/>
        </a>
      </div>
      <div class="mx-2">
        <a href="#!">
          <img src="/static/images/no_image.jpg" class="img-fluid img-thumbnail" alt="애니 제목"/>
        </a>
      </div>
      <div class="mx-2">
        <a href="#!">
          <img src="/static/images/no_image.jpg" class="img-fluid img-thumbnail" alt="애니 제목"/>
        </a>
      </div>
      <div class="mx-2">
        <a href="#!">
          <img src="/static/images/no_image.jpg" class="img-fluid img-thumbnail" alt="애니 제목"/>
        </a>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    initSlider(".bun-gi-slider");
    initSlider(".top10-slider");
    initSlider(".tag-slider1");
    initSlider(".tag-slider2");
  });

  function initSlider(target) {
    $(target + " .mask").slick({
      slide: 'div',        //슬라이드될 태그
      infinite : true,     //무한 반복 옵션
      slidesToShow : 6,        // 한 화면에 보여질 컨텐츠 개수
      slidesToScroll : 1,        //스크롤 한번에 움직일 컨텐츠 개수
      speed : 500,     // 다음 버튼 누르고 다음 화면 뜨는데까지 걸리는 시간(ms)
      arrows : true,         // 옆으로 이동하는 화살표 표시 여부
      dots : false,         // 스크롤바 아래 점으로 페이지네이션 여부
      autoplay : false,            // 자동 스크롤 사용 여부
      autoplaySpeed : 2000,         // 자동 스크롤 시 다음으로 넘어가는데 걸리는 시간 (ms)
      pauseOnHover : false,        // 슬라이드 이동   시 마우스 호버하면 슬라이더 정지
      vertical : false,        // 세로 방향 슬라이드 옵션
      prevArrow : target + " .slick-prev",
      nextArrow : target +" .slick-next",
      draggable : false,     //드래그 가능 여부
      responsive: [ // 반응형 웹 구현
        {
          breakpoint: 960, //화면 사이즈
          settings: {
            slidesToShow: 5
          }
        },
        {
          breakpoint: 768, //화면 사이즈
          settings: {
            slidesToShow: 4
          }
        }
      ]
    });
  }
</script>
{{>layout/footer}}